.Projects-Project {
	border: 1px solid #ccc;
	margin: 1em 0em;
	padding: 0.5em;
}

.Projects-refresh {
	float: right;
}

.Projects-Project > .InCheckbox > input {
	height: 3.5em;
}

.Projects-Project > .InCheckbox > div > h4 {
	padding: 0.5em 1em;
	margin-bottom: 0em;
}

.Projects-Project > .InCheckbox {
	margin-bottom: 0.25em;
}

.Projects-Project > a {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}
